* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: rgb(49, 49, 49);
}
.nav,
.icons {
  padding: 0 40px;
}
.logo > h5,
.socialMedia {
  font-size: 1.5rem;
  color: rgb(255, 254, 254);
}
.icons ul {
  display: flex;
  list-style: none;
}
.icons a {
  text-decoration: none;
  color: rgb(255, 254, 254);
  padding: 10px;
  margin: 0 5px;
}
.icons a:hover {
  border-bottom: 1px solid rgb(255, 254, 254);
}
.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: url("./img/showcase_lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro > h1,
.headerWrapper > h2 {
  font-size: 2.5rem;
  color: rgb(49, 49, 49);
  padding: 10px 0;
  z-index: 10;
}
.intro > p,
.headerWrapper > p {
  font-size: 1.2em;
  color: rgb(49, 49, 49);
  z-index: 10;
}
.headerWrapper,
.intro {
  width: 80%;
  text-align: center;
  margin: auto;
}
.backgroundHeader {
  max-height: 400px;
}
.work {
  height: 600px;
  width: 100%;
  background-color: #ffff;
}
.title {
  text-align: center;
  width: 100%;
}
.title h1 {
  font-weight: 200;
  letter-spacing: 1rem;
  font-size: 25px;
  margin: 5rem 0 3rem 0;
}
.underline {
  margin: auto;
  width: 25%;
  border-bottom: 3px solid #525e65;
}
.workDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.work-1 > h3,
.work-2 > h3,
.work-3 > h3 {
  text-align: center;
  padding: 0 0 20px 0;
}
.work-1 > p,
.work-2 > p,
.work-3 > p {
  text-align: center;
  padding: 20px 0 0 0;
}
.workDetails > * {
  padding: 1rem;
  background-color: rgb(212, 214, 214);
  color: rgba(8, 8, 8, 0);
  border-radius: 5px;
  height: 250px;
  width: 350px;
  margin: 20px;
  color: rgb(49, 49, 49);
}
.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(49, 49, 49);
  padding-top: 20px;
}
.hobbiesUnderline {
  width: 25%;
  border-bottom: 3px solid #525e65;
}
.hobbiesDescription p {
  margin-top: 2rem;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.footerLogoLists {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 20px 20px 0;
}
.footerSocialMedia {
  color: rgb(49, 49, 49);
  font-size: 40px;
  font-weight: 200;
}
.footerSocialMedia {
  margin: 0 10px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  body {
    overflow-x: hidden;
  }
  .workDetails {
    flex-direction: column;
  }
  .workDetails {
    height: 900px;
  }
  .showcase {
    flex-direction: column;
  }
}
